.content {
  position: absolute;
  top: 50%; 
  margin-top: -70px; 
  left: 50%; 
  margin-left: -100px;
}

.bird {
  display: block;
  width: 100px;
  height: 150px;
  background-color: #0089ff;
  margin-left: 25px;
  border-radius: 50px 50px 100px 0;
  transform: rotateZ(30deg);
  position: relative;
}

.bird::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left: 25px solid #ffca00;
  transform: rotateZ(-30deg);
  right: -29px;
  top: 2px;
}

.bird::after {
  content: '';
  display: block;
  position: absolute;
  display: block;
  width: 60px;
  height: 90px;
  background-color: #006ecd;
  border-radius:50px 50px 100px 0;
  transform: rotateZ(90deg);
  top: 40px;
  left: -20px;
}

.eye {
  display: block;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.eye::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 10px;
  position: absolute;
  top: 4px;
  right: 1px;
}
